@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Beranda</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Fee")">
                <a href="@Url.Action("Index", "Fee")"><i class="fa fa-link"></i> <span>Fee</span></a>
            </li>
            <li class="@Url.IsLinkActive("LogOut", "Home")">
                <a href="@Url.Action("Logout", "Home")"><i class="fa fa-link"></i> <span>Keluar</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>